<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    .container{
      border: 1px solid #000;
      display:flex;
      flex-direction:column;
    }
    h3{
        margin:0 auto;
        padding-top:10px;
    }

    .login{
      width:150px;
      margin:4px auto;
    }

    .book{
      width:150px;
      margin:4px auto;
    }
    
    button{border-radius:6px;
       background-color:#333;
       color:#fff;  
        margin-top:7px;
    }

    button:hover{
    background-color:#ccc;
    color:#000;
 
 }

 input{
     margin:3px;
 }
    </style>
  </head>
  <body>

  <div class="container">

  <div class="register">

    <h4> Book Appointment</h4>
    <form action="/register" method="post" class="book">
      <input type="text" name="book_name" placeholder="Name">
      <input type="email" name="book_date" placeholder="Date">
      <input type="password" name="book_reason" placeholder="Reason">
      <input type="password" name="book_details" placeholder="Details">
      <button type="submit">Register</button>
    </form>
</div>
<p> 
  </body>
</html>
