<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    .container{
      border: 1px solid #000;
      display:flex;
      flex-direction:column;
    }

    .page_title{
      margin:0 auto;
    }
    .boxes{
      border: 1px solid black;
      margin: 10px;
      padding: 10px;
      width:250px;
      flex:1;
    }

    
    input["type=submit"]{border-radius:6px;
       background-color:#333;
       color:#fff;
    }

    input["type=submit"]:hover{
    background-color:#ccc;
    color:#000;
  }
    .doctor_login a{
      border: 1px solid black;
    float:right;
      margin: 10px;
      padding: 10px;
 }

  .book a{
    border: 1px solid black;
    float:right;
      margin: 10px;
      padding: 10px;
  }
    </style>

  </head>
  <body>
  <div class="container">
  <div class="page_title">  <h3>DISPLAY AVAILABLE DOCTORS</h3> </div>
  <div class="doctor_login"><a href="/doctors">DOCTORS LOGIN</a></div>
  
   <div class="boxes">
  <% for(let i = 0; i < doctors.length; i++){ %>
<%= doctors[i] %>
<% } %>

     <div class="book"><a href="/book">Book</a></div>
    

    </div>

  </body>
</html>
