<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    .container{
      border: 1px solid #000;
      display:flex;
      flex-direction:column;
    }

    .login{
      width:400px;
      margin:4px auto;
    }

    .register{
      width:400px;
      margin:4px auto;
    }
    
    input["type=submit"]{border-radius:6px;
       background-color:#333;
       color:#fff;
    }

    input["type=submit"]:hover{
    background-color:#ccc;
    color:#000;
 }
    </style>
  </head>
  <body>
  <div class="container">
 <h2>NOTES</h2>
<form class="" action="/notes/<%=bookings[i].id%>" method="post">
<textarea name="note" rows="4" cols="80" placeholder="Enter note here"></textarea>
<br>
<button class="btn btn-light" type="submit" name="button">Add Note</button>
</form>
</div>

  </body>
</html>